@import "tailwindcss";

@source "../../components/src/**/*.svelte";

@theme {
  /* Colors */
  --color-bg: #f8f9fa;
  --color-heading: #212529;
  --color-text: #495057;
  --color-link: #0d6efd;
  --color-link-hover: #0a58ca;
  --color-border: #dee2e6;
}
